<!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->

<div style="background:#fff; padding-top:50px;">


<div class="container">

<div style="display:flex;flex-direction: row;justify-content: space-around;">
<div class="">

<div class="bg-green"><a href="javascript:" data-toggle="modal" data-target="#myModal3" style="color:#fff;">Forecasting Group Mapping</a></div>
<div class="bottomtext">
<div class="media">
  <div class="media-left">
    <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#f13464;"></i>
  </div>
  <div class="media-body">
<p>
 There are new SKUs<br /> Without maping</p>
  </div>
</div>

<p class="text-center">OR</p>
<div class="media">
  <div class="media-left">
<i class="fa fa-check-circle" aria-hidden="true" style="color:#003418;"></i>
  </div>
  <div class="media-body">
<p>All SKUs are maping</p>
  </div>
</div>


 </div>
  </div>
  <div class="">
<a routerLink="/phase">
<div class="bg-green">Phase In Phase Out</div>
</a>
<div class="bottomtext">
<!--<div class="media">
  <div class="media-left">
    <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#f13464;"></i>
  </div>
  <div class="media-body">
<p>
 There are new SKUs<br /> Without maping</p>
  </div>
</div>

<p class="text-center">OR</p>
<div class="media">
  <div class="media-left">
<i class="fa fa-check-circle" aria-hidden="true" style="color:#003418;"></i>
  </div>
  <div class="media-body">
<p>All SKUs are maping</p>
  </div>
</div>-->


 </div>
  </div>
</div>


      </div>
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       </div>
      <div class="modal-body">

 <div class="table-responsive">
 <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">SKU ID</th>
      <th scope="col">Material Name</th>
      <th scope="col">Forecasting Group</th>
      <th scope="col">Week First Seen</th>
      <th scope="col">Week Last Seen</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">10816</th>
      <td>Grimb Blonde BOT 4X6X0,25 TraN</td>
      <td>Grimb Blonde BOT 4X6X0,25</td>
      <td>201712</td>
      <td>201850</td>
       <td><a href="javascript:" class="btn btn-sm btn-success">Edit</a></td>
        <td><a href="javascript:" class="btn btn-sm btn-danger">Remove</a></td>
    </tr>

    <tr>
      <th scope="row">18803</th>
      <td>Grimb Blonde BOT 4X6X0,25 FopN2_DUP</td>
      <td>Grimb Blonde BOT 4X6X0,25</td>
      <td>201825</td>
      <td>201830</td>
       <td><a href="javascript:" class="btn btn-sm btn-success">Edit</a></td>
        <td><a href="javascript:" class="btn btn-sm btn-danger">Remove</a></td>
    </tr>
    <tr>
      <th scope="row">14703</th>
      <td>Grimb Blonde BOT 4X6X0,25 FopN</td>
      <td>Grimb Blonde BOT 4X6X0,25</td>
      <td>201916</td>
      <td>201934</td>
       <td><a href="javascript:" class="btn btn-sm btn-success">Edit</a></td>
        <td><a href="javascript:" class="btn btn-sm btn-danger">Remove</a></td>
    </tr>
    <tr>
      <th scope="row">20532</th>
      <td>Grimb Blonde BOT 2X12X0,25 FopN</td>
      <td>Grimb Blonde BOT 2X12X0,25</td>
      <td>201912</td>
      <td>201934</td>
       <td><a href="javascript:" class="btn btn-sm btn-success">Edit</a></td>
        <td><a href="javascript:" class="btn btn-sm btn-danger">Remove</a></td>
    </tr>
  </tbody>
</table>


 </div>
      </div>
      
    </div>
  </div>
</div>      
</div>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

