/* Sidebar Styling */
#sidebar {
  position: fixed;
  width: 80px;
  height: 100vh;
  background-color: #5A5F66;
  color: white;
  z-index: 1;
}

#sidebar p {
  font-size: 10px;
  font-weight: 700;
}

#sidebar .item {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

#sidebar .item:hover {
  background-color: #797F87;
}

/* Content  Styling*/
#content {
  min-height: 100vh;
  background-color: #E5E6EA;
}

.filter-col {
  background-color: #F4F5F9;
  height: 100vh;
  left: 80px;
  width: 200px;
  position: fixed;
  overflow: auto;
  z-index: 1;
}

.content-col {
  margin-right: 200px;
  margin-left: 280px;
}

.events-col {
  position: fixed;
  right: 0;
  top: 0;
  width: 200px;
  z-index: 1;
}

.filter-col .data-action {
  color: white;
  padding-top: 1px;
  background-color: #5A5F66;
  border-radius: 100%;
  width: 27px;
  height: 27px;
  text-align: center;
  vertical-align: center;
}

.text-muted {
  font-size: 12px;
}

.filter-col .panel .panel-title {
  font-size: 13px;
  font-family: 'Roboto', sans-serif !important;
}

.filter-col .panel {
  margin-bottom: 10px;
  min-height: 32px;
  width: 94%;
  border: 0;
}

.filter-col .panel a {
  color: #33373C;
}

.filter-col .panel a:hover {
  text-decoration: none;
}

.filter-col .panel .panel-body {
  background-color: white;
}

.filter-col .panel .panel-body ul {
  list-style: none;
  padding: 5px 10px;
}


/* Table Styling */
.content-col .header-col {
  padding: 6px 10px;
  font-weight: 700;
  font-size: 12px;
}

.content-col .footer-col {
  padding: 6px 6px 6px 2px;
  font-weight: 700;
  font-size: 12px;
}

.header-text {
  color: #81878E;
}

.actual-text {
  color: #20C9A4;
}

.ml-text {
  color: #D8ACFF;
}

.aop-text {
  color: #6499F2;
}


/* Events Holidays Promo container */
.events-container {
  font-size: 15px;
  border-radius: 5px;
  height: 98vh;
  overflow: auto;
}

.events-container .block {
  background-color: #F4F5F9;
  font-size: 14px;
}

.events-container div {
  margin-top: 2px;
}


/* Modal Styling */
.modal-footer {
  display: none;
}

.modal-header {
  border: none;
}

#createPlanModal .modal-dialog {
  max-width: 80vw;
}

#createPlanModal .modal-dialog .modal-content {
  min-height: 90vh;
}

.fix-width {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.content-col .panel {
  padding: 10px 0;
}

.content-col .panel .table {
  width: 100%;
  font-size: 0.6rem;
  margin-bottom: 0;
  max-width: none;
  table-layout: fixed;
}


.table-inputbox {
  width: 100%;
  background-color: #F2F2F2;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid grey;
  outline: none;
  text-align: center;
}


.content-col .panel .table th,
.content-col .panel .table tr{
  width: 65px;
  text-align: center;
}
