<div>
  <div id="sidebar" class="d-flex justify-content-between flex-column">
    <div class="mt-2">
      <div id="logo" class="d-flex justify-content-center">
        <img src="assets/images/logo.png">
      </div>
      <div class="item d-flex flex-column align-items-center mt-3">
        <i class="fa pb-1 fa-list-ul"></i>
        <p class="m-0">Plan Demand</p>
      </div>
      <div class="item d-flex flex-column align-items-center mt-2" data-toggle="modal" data-target="#createPlanModal">
        <i class="fa pb-1 fa-list-ul"></i>
        <p class="m-0">Create Plan</p>
        <p class="m-0">Personalized</p>
      </div>
      <div class="item d-flex flex-column align-items-center mt-2">
        <i class="fa pb-1 fa-repeat"></i>
        <p class="m-0">Revisit a Plan</p>
      </div>
    </div>
    <div class="mb-2">
      <div class="item d-flex flex-column align-items-center mt-2">
        <i class="fa pb-1 fa-cog"></i>
        <p class="m-0">Settings</p>
      </div>
      <div class="item d-flex flex-column align-items-center mt-2">
        <i class="fa pb-1 fa-random"></i>
        <p class="m-0">Phase In</p>
        <p class="m-0">/Phase Out</p>
      </div>
      <div class="item d-flex flex-column align-items-center mt-2">
        <i class="fa pb-1 fa-list-ul"></i>
        <p class="m-0">SKU Volume</p>
        <p class="m-0">Allocation</p>
      </div>
    </div>
  </div>
  <div id="content">
    <div class="row m-0">
      <div class="col-2 filter-col" data-simplebar>
        <h6 class="mt-3 font-weight-bold">Filter Options</h6>
        <div class="mt-4 d-flex justify-content-around">
          <div class="d-flex flex-column align-items-center">
            <a href="javascript:void(0);" class="data-action"><i class="fa fa-upload"></i></a>
            <span class="text-muted">Load</span>
          </div>
          <div class="d-flex flex-column align-items-center">
            <a href="javascript:void(0);" class="data-action"><i class="fa fa-download"></i></a>
            <span class="text-muted">Save</span>
          </div>
          <div class="d-flex flex-column align-items-center">
            <a href="javascript:void(0);" class="data-action"><i class="fa fa-list-ul"></i></a>
            <span class="text-muted">Organize</span>
          </div>
        </div>
        <hr>
        <div class="mb-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <a class="text-muted" href="javascript:void(0);">clear all filters</a>
          </div>
        </div>
        <div class="panel-group mt-1" role="tablist" id="filterAccordion" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="salesoffice">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#filterAccordion" href="#sales-office"
                   aria-expanded="true" aria-controls="sales-office">
                  Sales Office
                  <i class="fa fa-plus float-right"></i>
                </a>
              </h4>
            </div>
            <div id="sales-office" class="panel-collapse collapse" role="tabpanel" aria-labelledby="salesoffice">
              <div class="panel-body">
                <ul class="subcat">
                  <li class="active">
                    <span class="cat-checkbox">
                      <input type="checkbox">
                    </span>
                    <a href="javascript:void(0)"> Glass <i class="fa fa-caret-down float-right"></i></a>
                    <ul>
                      <li><input type="checkbox" class="subcat-checkbox"> 50ml</li>
                      <li><input type="checkbox" class="subcat-checkbox"> 90ml</li>
                    </ul>
                  </li>
                </ul>
                <ul class="subcat">
                  <li>
                    <span class="cat-checkbox"><input type="checkbox"></span>
                    <a href="javascript:void(0);"> Glass <i class="fa fa-caret-down float-right"></i></a>
                    <ul>
                      <li><input type="checkbox" name="" class="subcat-checkbox"> 50ml</li>
                      <li><input type="checkbox" name="" class="subcat-checkbox"> 90ml</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="customer-planning-group">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#filterAccordion" href="#cpg"
                   aria-expanded="false" aria-controls="cpg">
                  Customer Planning Group
                  <i class="fa fa-plus float-right"></i>
                </a>
              </h4>
            </div>
            <div id="cpg" class="panel-collapse collapse" role="tabpanel" aria-labelledby="customer-planning-group">
              <div class="panel-body">
                <ul class="subcat">
                  <li class="active">
                    <span class="cat-checkbox">
                      <input type="checkbox">
                    </span>
                    <a href="javascript:void(0)"> Glass <i class="fa fa-caret-down float-right"></i></a>
                    <ul>
                      <li><input type="checkbox" class="subcat-checkbox"> 50ml</li>
                      <li><input type="checkbox" class="subcat-checkbox"> 90ml</li>
                    </ul>
                  </li>
                </ul>
                <ul class="subcat">
                  <li>
                    <span class="cat-checkbox">
                      <input type="checkbox">
                    </span>
                    <a href="javascript:void(0)"> Glass <i class="fa fa-caret-down float-right"></i></a>
                    <ul>
                      <li><input type="checkbox" class="subcat-checkbox"> 50ml</li>
                      <li><input type="checkbox" class="subcat-checkbox"> 90ml</li>

                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="filterHeadingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#filterAccordion"
                   href="#filterCollapseThree"
                   aria-expanded="false" aria-controls="collapseThree">
                  Brands
                  <i class="fa fa-plus float-right"></i>
                </a>
              </h4>
            </div>
            <div id="filterCollapseThree" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="headingThree">
              <div class="panel-body">
                <ul class="subcat">
                  <li class="active">
                    <span class="cat-checkbox">
                      <input type="checkbox">
                    </span>
                    <a href="javascript:void(0)"> Glass <i class="fa fa-caret-down float-right"></i></a>
                    <ul>
                      <li><input type="checkbox" class="subcat-checkbox"> 50ml</li>
                      <li><input type="checkbox" class="subcat-checkbox"> 90ml</li>
                    </ul>
                  </li>
                </ul>

                <ul class="subcat">
                  <li>
                    <span class="cat-checkbox">
                      <input type="checkbox">
                    </span>
                    <a href="javascript:void(0)"> Glass <i class="fa fa-caret-down float-right"></i></a>
                    <ul>
                      <li><input type="checkbox" class="subcat-checkbox"> 50ml</li>
                      <li><input type="checkbox" class="subcat-checkbox"> 90ml</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="packaging">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#filterAccordion" href="#packagging"
                   aria-expanded="true"
                   aria-controls="packagging">
                  Packaging
                  <i class="fa fa-plus float-right"></i>
                </a>
              </h4>
            </div>
            <div id="packagging" class="panel-collapse collapse" role="tabpanel" aria-labelledby="packaging">
              <div class="panel-body">
                <ul class="subcat">
                  <li class="active">
                    <span class="cat-checkbox">
                      <input type="checkbox">
                    </span>
                    <a href="javascript:void(0)"> Glass <i class="fa fa-caret-down float-right"></i></a>
                    <ul>
                      <li><input type="checkbox" class="subcat-checkbox"> 50ml</li>
                      <li><input type="checkbox" class="subcat-checkbox"> 90ml</li>
                    </ul>
                  </li>
                </ul>
                <ul class="subcat">
                  <li>
                    <span class="cat-checkbox">
                      <input type="checkbox">
                    </span>
                    <a href="javascript:void(0)"> Glass <i class="fa fa-caret-down float-right"></i></a>
                    <ul>
                      <li><input type="checkbox" class="subcat-checkbox"> 50ml</li>
                      <li><input type="checkbox" class="subcat-checkbox"> 90ml</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="beertype">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#filterAccordion" href="#beer_type"
                   aria-expanded="true"
                   aria-controls="beer_type">
                  Beer Type
                  <i class="fa fa-plus float-right"></i>
                </a>
              </h4>
            </div>
            <div id="beer_type" class="panel-collapse collapse" role="tabpanel" aria-labelledby="beertype">
              <div class="panel-body">
                <ul class="subcat">
                  <li class="active">
                    <span class="cat-checkbox">
                      <input type="checkbox">
                    </span>
                    <a href="javascript:void(0)"> Glass <i class="fa fa-caret-down float-right"></i></a>
                    <ul>
                      <li><input type="checkbox" class="subcat-checkbox"> 50ml</li>
                      <li><input type="checkbox" class="subcat-checkbox"> 90ml</li>
                    </ul>
                  </li>
                </ul>
                <ul class="subcat">
                  <li>
                    <span class="cat-checkbox">
                      <input type="checkbox">
                    </span>
                    <a href="javascript:void(0)"> Glass <i class="fa fa-caret-down float-right"></i></a>
                    <ul>
                      <li><input type="checkbox" class="subcat-checkbox"> 50ml</li>
                      <li><input type="checkbox" class="subcat-checkbox"> 90ml</li>

                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="mb-2">
          <div>
            SKUs
            <a class="text-muted float-right" href="javascript:void(0);">clear all skus</a>
          </div>
          <div class="input-group mt-2">
            <input type="text" class="form-control" placeholder="Search SKU">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
          </div>
        </div>
        <div class="mb-2" style="max-height: 300px; overflow: auto" data-simplebar>
          <div class="bg-white mt-1 p-1 pl-2" *ngFor="let sku of skus; let i=index">
            <span><input type="checkbox"></span> {{sku}}
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="bg-white shadow mt-1">
          <div class="d-flex justify-content-between align-items-center p-1">
            <div class="d-flex justify-content-between align-items-center">
              <h4 class="m-0">Forcast Analysis</h4>
              <p class="m-0 ml-2">Load Week 19</p>
            </div>
            <div>

            </div>
          </div>
          <div id="chartContainer1" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
        </div>
        <div class="bg-white shadow mt-2">
          <div id="chartContainer2" style="height: 150px; width: 100%; margin-left:auto;margin-right:auto;"></div>
        </div>
      </div>
      <div class="col-2 events-col pl-0" >
        <div class="events-container shadow mt-1 mb-1 p-2 bg-white" data-simplebar>
          <div class="mt-2">
            <h4>Events</h4>
            <div class="m-1 p-1">
              <span><input type="checkbox"></span> All Events
            </div>
            <div class="block m-1 p-1" *ngFor="let event of events">
              <span><input type="checkbox"></span> {{ event.name }}
            </div>
          </div>
          <div class="mt-2">
            <h4>Weather</h4>
            <div class="m-1 p-1">
              <span><input type="checkbox"></span> All Weathers
            </div>
            <div class="block m-1 p-1" *ngFor="let weather of weathers">
              <span><input type="checkbox"></span> {{ weather.name }}
            </div>
          </div>
          <div class="mt-2">
            <h4>Events</h4>
            <div class="m-1 p-1">
              <span><input type="checkbox"></span> All Promos
            </div>
            <div class="block m-1 p-1" *ngFor="let promo of promos">
              <span><input type="checkbox"></span> {{ promo.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="createPlanModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #createPlanModalCancel>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-create-plan (submit)="createPlan($event)"></app-create-plan>
      </div>
    </div>
  </div>
</div>
