<div id="content">
  <div class="filter-col p-3" data-simplebar>
    <h6 class="mt-3 font-weight-bold">Filter Options</h6>
    <div class="mt-4 d-flex justify-content-around">
      <div class="d-flex flex-column align-items-center">
        <a href="javascript:void(0);" class="data-action" data-target="#loadFilterModal" data-toggle="modal">
          <i class="fa fa-upload"></i></a>
        <span class="text-muted">Load</span>
      </div>
      <div class="d-flex flex-column align-items-center">
        <a href="javascript:void(0);" class="data-action" data-target="#saveFilterModal" data-toggle="modal"><i
          class="fa fa-download"></i></a>
        <span class="text-muted">Save</span>
      </div>
      <div class="d-flex flex-column align-items-center">
        <a href="javascript:void(0);" class="data-action"><i class="fa fa-list-ul"></i></a>
        <span class="text-muted">Organize</span>
      </div>
    </div>
    <hr>
    <div class="mb-2">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-search"></i></span>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <a class="text-muted" href="javascript:void(0);">clear all filters</a>
      </div>
    </div>
    <div class="panel-group mt-1" role="tablist" id="filterAccordion" aria-multiselectable="true">
      <ng-container *ngFor="let filter of filters; let filterIndex=index">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" [id]="filter.key">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#filterAccordion"
                 [href]="'#' + filter.key + 'filter'"
                 aria-expanded="true" [attr.aria-controls]="filter.key + 'filter'"
                 (click)="filter.isExpanded = !filter.isExpanded">
                {{ filter.name }}
                <i class="fa float-right" [ngClass]="[ filter.isExpanded ? 'fa-minus' : 'fa-plus' ]"></i>
              </a>
            </h4>
          </div>
          <div [id]="filter.key + 'filter'" class="panel-collapse collapse" role="tabpanel"
               [attr.aria-labelledby]="filter.key">
            <div class="panel-body">
              <ul class="m-0">
                <li class="d-flex" *ngFor="let value of filter.values;">
                  <div>
                    <input class="mr-1" type="checkbox" [(ngModel)]="value.isChecked"
                           (change)="onFilterCheckBoxChange()">
                  </div>
                  <p class="m-0">{{ value.name }}</p>
                </li>
              </ul>
            </div>
          </div>
        </div>




   




      </ng-container>


      <div _ngcontent-jqe-c3="" class="panel panel-default"><div _ngcontent-jqe-c3="" class="panel-heading" role="tab" id="plant1"><h4 _ngcontent-jqe-c3="" class="panel-title"><a _ngcontent-jqe-c3="" aria-expanded="false" data-parent="#filterAccordion1" data-toggle="collapse" role="button" href="#plantfilter1" aria-controls="plantfilter1" class="collapsed"> Brands <i _ngcontent-jqe-c3="" class="fa float-right fa-plus" ng-reflect-klass="fa float-right" ng-reflect-ng-class="fa-plus"></i></a></h4></div><div _ngcontent-jqe-c3="" class="panel-collapse collapse" role="tabpanel" id="plantfilter1" aria-labelledby="plant1" style=""><div _ngcontent-jqe-c3="" class="panel-body"><ul _ngcontent-jqe-c3="" class="m-0"><!--bindings={
  "ng-reflect-ng-for-of": "[object Object]"
}--><li _ngcontent-jqe-c3="" class="d-flex"><div _ngcontent-jqe-c3=""><input _ngcontent-jqe-c3="" class="mr-1 ng-untouched ng-pristine ng-valid" type="checkbox" ng-reflect-model="true"></div><p _ngcontent-jqe-c3="" class="m-0">G012</p></li></ul></div></div></div>








<div _ngcontent-jqe-c3="" class="panel panel-default"><div _ngcontent-jqe-c3="" class="panel-heading" role="tab" id="plant1"><h4 _ngcontent-jqe-c3="" class="panel-title"><a _ngcontent-jqe-c3="" aria-expanded="false" data-parent="#filterAccordion1" data-toggle="collapse" role="button" href="#plantfilter1" aria-controls="plantfilter1" class="collapsed"> Sub-Brands <i _ngcontent-jqe-c3="" class="fa float-right fa-plus" ng-reflect-klass="fa float-right" ng-reflect-ng-class="fa-plus"></i></a></h4></div><div _ngcontent-jqe-c3="" class="panel-collapse collapse" role="tabpanel" id="plantfilter1" aria-labelledby="plant1" style=""><div _ngcontent-jqe-c3="" class="panel-body"><ul _ngcontent-jqe-c3="" class="m-0"><!--bindings={
  "ng-reflect-ng-for-of": "[object Object]"
}--><li _ngcontent-jqe-c3="" class="d-flex"><div _ngcontent-jqe-c3=""><input _ngcontent-jqe-c3="" class="mr-1 ng-untouched ng-pristine ng-valid" type="checkbox" ng-reflect-model="true"></div><p _ngcontent-jqe-c3="" class="m-0">G012</p></li></ul></div></div></div>







<div _ngcontent-jqe-c3="" class="panel panel-default"><div _ngcontent-jqe-c3="" class="panel-heading" role="tab" id="plant1"><h4 _ngcontent-jqe-c3="" class="panel-title"><a _ngcontent-jqe-c3="" aria-expanded="false" data-parent="#filterAccordion1" data-toggle="collapse" role="button" href="#plantfilter1" aria-controls="plantfilter1" class="collapsed"> Product Category <i _ngcontent-jqe-c3="" class="fa float-right fa-plus" ng-reflect-klass="fa float-right" ng-reflect-ng-class="fa-plus"></i></a></h4></div><div _ngcontent-jqe-c3="" class="panel-collapse collapse" role="tabpanel" id="plantfilter1" aria-labelledby="plant1" style=""><div _ngcontent-jqe-c3="" class="panel-body"><ul _ngcontent-jqe-c3="" class="m-0"><!--bindings={
  "ng-reflect-ng-for-of": "[object Object]"
}--><li _ngcontent-jqe-c3="" class="d-flex"><div _ngcontent-jqe-c3=""><input _ngcontent-jqe-c3="" class="mr-1 ng-untouched ng-pristine ng-valid" type="checkbox" ng-reflect-model="true"></div><p _ngcontent-jqe-c3="" class="m-0">G012</p></li></ul></div></div></div>






<div _ngcontent-jqe-c3="" class="panel panel-default"><div _ngcontent-jqe-c3="" class="panel-heading" role="tab" id="plant1"><h4 _ngcontent-jqe-c3="" class="panel-title"><a _ngcontent-jqe-c3="" aria-expanded="false" data-parent="#filterAccordion1" data-toggle="collapse" role="button" href="#plantfilter1" aria-controls="plantfilter1" class="collapsed"> Alcohol percentage <i _ngcontent-jqe-c3="" class="fa float-right fa-plus" ng-reflect-klass="fa float-right" ng-reflect-ng-class="fa-plus"></i></a></h4></div><div _ngcontent-jqe-c3="" class="panel-collapse collapse" role="tabpanel" id="plantfilter1" aria-labelledby="plant1" style=""><div _ngcontent-jqe-c3="" class="panel-body"><ul _ngcontent-jqe-c3="" class="m-0"><!--bindings={
  "ng-reflect-ng-for-of": "[object Object]"
}--><li _ngcontent-jqe-c3="" class="d-flex"><div _ngcontent-jqe-c3=""><input _ngcontent-jqe-c3="" class="mr-1 ng-untouched ng-pristine ng-valid" type="checkbox" ng-reflect-model="true"></div><p _ngcontent-jqe-c3="" class="m-0">G012</p></li></ul></div></div></div>






<div _ngcontent-jqe-c3="" class="panel panel-default"><div _ngcontent-jqe-c3="" class="panel-heading" role="tab" id="plant1"><h4 _ngcontent-jqe-c3="" class="panel-title"><a _ngcontent-jqe-c3="" aria-expanded="false" data-parent="#filterAccordion1" data-toggle="collapse" role="button" href="#plantfilter1" aria-controls="plantfilter1" class="collapsed">Units per Pack<i _ngcontent-jqe-c3="" class="fa float-right fa-plus" ng-reflect-klass="fa float-right" ng-reflect-ng-class="fa-plus"></i></a></h4></div><div _ngcontent-jqe-c3="" class="panel-collapse collapse" role="tabpanel" id="plantfilter1" aria-labelledby="plant1" style=""><div _ngcontent-jqe-c3="" class="panel-body"><ul _ngcontent-jqe-c3="" class="m-0"><!--bindings={
  "ng-reflect-ng-for-of": "[object Object]"
}--><li _ngcontent-jqe-c3="" class="d-flex"><div _ngcontent-jqe-c3=""><input _ngcontent-jqe-c3="" class="mr-1 ng-untouched ng-pristine ng-valid" type="checkbox" ng-reflect-model="true"></div><p _ngcontent-jqe-c3="" class="m-0">G012</p></li></ul></div></div></div>




<div _ngcontent-jqe-c3="" class="panel panel-default"><div _ngcontent-jqe-c3="" class="panel-heading" role="tab" id="plant1"><h4 _ngcontent-jqe-c3="" class="panel-title"><a _ngcontent-jqe-c3="" aria-expanded="false" data-parent="#filterAccordion1" data-toggle="collapse" role="button" href="#plantfilter1" aria-controls="plantfilter1" class="collapsed"> Pack Type<i _ngcontent-jqe-c3="" class="fa float-right fa-plus" ng-reflect-klass="fa float-right" ng-reflect-ng-class="fa-plus"></i></a></h4></div><div _ngcontent-jqe-c3="" class="panel-collapse collapse" role="tabpanel" id="plantfilter1" aria-labelledby="plant1" style=""><div _ngcontent-jqe-c3="" class="panel-body"><ul _ngcontent-jqe-c3="" class="m-0"><!--bindings={
  "ng-reflect-ng-for-of": "[object Object]"
}--><li _ngcontent-jqe-c3="" class="d-flex"><div _ngcontent-jqe-c3=""><input _ngcontent-jqe-c3="" class="mr-1 ng-untouched ng-pristine ng-valid" type="checkbox" ng-reflect-model="true"></div><p _ngcontent-jqe-c3="" class="m-0">G012</p></li></ul></div></div></div>




<div _ngcontent-jqe-c3="" class="panel panel-default"><div _ngcontent-jqe-c3="" class="panel-heading" role="tab" id="plant1"><h4 _ngcontent-jqe-c3="" class="panel-title"><a _ngcontent-jqe-c3="" aria-expanded="false" data-parent="#filterAccordion1" data-toggle="collapse" role="button" href="#plantfilter1" aria-controls="plantfilter1" class="collapsed"> Segment <i _ngcontent-jqe-c3="" class="fa float-right fa-plus" ng-reflect-klass="fa float-right" ng-reflect-ng-class="fa-plus"></i></a></h4></div><div _ngcontent-jqe-c3="" class="panel-collapse collapse" role="tabpanel" id="plantfilter1" aria-labelledby="plant1" style=""><div _ngcontent-jqe-c3="" class="panel-body"><ul _ngcontent-jqe-c3="" class="m-0"><!--bindings={
  "ng-reflect-ng-for-of": "[object Object]"
}--><li _ngcontent-jqe-c3="" class="d-flex"><div _ngcontent-jqe-c3=""><input _ngcontent-jqe-c3="" class="mr-1 ng-untouched ng-pristine ng-valid" type="checkbox" ng-reflect-model="true"></div><p _ngcontent-jqe-c3="" class="m-0">G012</p></li></ul></div></div></div>



      
       
  




     




    </div>
    <hr>
    <div class="mb-2">
      <div>
        <span style="font-weight: bold">SKUs</span>
        <a class="text-muted float-right" href="javascript:void(0);" (click)="clearAllSKUs()">clear all skus</a>
      </div>
      <div class="input-group mt-2">
        <input type="text" class="form-control" [(ngModel)]="searchText" name="searchSKU" placeholder="Search SKU">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-search"></i></span>
        </div>
      </div>
    </div>
    <div class="mb-2" style="max-height: 300px; overflow: auto;font-size: 12px;" data-simplebar>
      <div class="bg-white mt-1 p-1 pl-2 d-flex" *ngFor="let sku of skus | filter: getCallback(); let i=index">
        <div style="margin-top: 3px;">
          <input class="mr-1" type="checkbox" [(ngModel)]="sku.isChecked" (change)="onFilterCheckBoxChange()">
        </div>
        <p class="m-0">{{ sku.name }}</p>
      </div>
    </div>
  </div>
  <div class="row content-col mb-2">
    <div class="col-12 pl-2 pr-1">
      <div class="bg-white rounded shadow mt-2">
        <div class="d-flex justify-content-between align-items-center p-1">
          <div class="d-flex justify-content-between align-items-center ml-2 pt-2">
            <p class="font-weight-bold">Forecast Analysis</p>
            <p class="ml-2 text-muted">Load Week {{currentWeek}}</p>

           
            <!-- <p class="ml-2 text-muted">Load Week 25</p> -->
          </div>
          <div>
          </div>
          <span style="float:right; margin-right:10px;">
              <div class="form-group w-50 ml-1">
                <select name="plant" required>
                 
                  <option >Weekly View </option>
                  <option>Monthly View</option>
                  <option>Yearly View</option>
                </select>
              </div>
            </span>
        </div>
       
        <div id="chartContainer1" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
      </div>

      <div class="bg-white rounded shadow mt-2">
        <p class="font-weight-bold ml-2 pt-2">Feature Analysis
          <span style="float:right; margin-right:10px;">
              <div class="form-group w-50 ml-1">
                <select name="plant" class="minimal" required>
             
                  <option selected>Baseline</option>
                  <option>Promo Effect</option>
                  <option>Weather effect</option>
                </select>
              </div>
            </span>
        </p>
        <div id="chartContainer2" style="height: 150px; width: 100%; margin-left:auto;margin-right:auto;">

        </div>
        <div class="data-strip d-none">
          <ul>
            <li>201910</li>
            <li>201915</li>
            <li>201920</li>
            <li>201925</li>
            <li>201930</li>
            <li>201935</li>
            <li>201940</li>
          </ul>
        </div>
      </div>

      <div class="bg-white shadow mt-2">
        <div class="row m-0">
          <div class="col-2 p-0">
            <div class="row m-0">
              <div class="invisible col-12 header-col" style="padding: 0.65rem">
                XXXXXX
              </div>
            </div>
            
       
            <div class="row m-0">
              <div class="col-12 header-col header-text">
                Final Forecast
              </div>
            </div>
            <div class="row m-0">
              <div class="col-12 header-col header-text">
                Fcst Value Add
              </div>
            </div>
            <div class="row m-0">
              <div (click)="putValueInFinal('ML')" class="col-12 header-col ml-text">
                ML Forecast
              </div>
            </div>
            <div class="row m-0">
              <div (click)="putValueInFinal('APO')" class="col-12 header-col aop-text">
                APO Forecast
              </div>
            </div>
            <div class="row m-0">
              <div class="col-12 header-col actual-text">
                Actuals
              </div>
            </div>
            <div class="row m-0">
              <div class="col-12 header-col header-text">
                Actuals LY
              </div>
            </div>

          </div>
          <div class="col-9 p-0">
            <div class="panel panel-default">
              <div class="center-block fix-width scroll-inner">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th class="font-weight-bold" *ngFor="let data of graphData">
                      <p class="m-0 week-block" [class.highlight]="data.comments?.length">  {{ data.week }}</p>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <ng-container *ngFor="let data of graphData; let i=index">
                      <td class="font-weight-bold cursor-pointer" (click)="selectedWeekComments=graphData[i].comments">
                        {{ data.finalForecast }}
                      </td>
                    </ng-container>
                  </tr>
                  <tr>
                    <ng-container *ngFor="let data of graphData; let i=index">
                      <td (dblclick)="data.ml !== undefined && onDblClickInput(i)">
                        <input type="text" class="table-inputbox" (blur)="onValueBlur(data.calenderYearWeek, i)"
                               (input)="onValueInput(data.calenderYearWeek, i)" [disabled]="data.ml === undefined" [class.disabled]="data.ml === undefined"
                               [(ngModel)]="data.fcstValueAdd">
                      </td>
                    </ng-container>
                  </tr>
                  <tr>
                    <td *ngFor="let data of graphData">
                      {{ data.ml }}
                    </td>
                  </tr>
                  <tr>



                    <td *ngFor="let data of graphData">
                      {{ data.apo }}
                    </td>
                  </tr>
                  <tr>
                    <td *ngFor="let data of graphData">
                      {{ data.actuals }}
                    </td>
                  </tr>
                  <tr>
                    <td *ngFor="let data of graphData">
                      {{ data.actualslastyear }}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-12 text-center m-2">
                <a href="#" class="btn btn-primary custom-link btn-xs" data-toggle="modal"
                   data-target="#saveAPlansModal">Save Plan</a>


                  <a href="#" class="btn btn-primary custom-link btn-xs" style= "margin-left:10px;" data-toggle="modal"
                  data-target="#saveAViewsModal">Save View</a>
              </div>
            </div>
          </div>
          <div class="col-1 p-0">
          
            <div class="row m-0">
              <div class="col-12 footer-col" style="padding: 0.65rem">
                Total
              </div>
            </div>
            <div class="row m-0">
              <div class="col-12 footer-col">
                {{ totalData.finalCastTotal }}
              </div>
            </div>
            <div class="row m-0">
              <div class="col-12 footer-col invisible">
                {{ totalData.fcstValueAdd || 0 }}
              </div>
            </div>
            <div class="row m-0">
              <div class="col-12 footer-col">
                {{ totalData.mlTotal }}
              </div>
            </div>
            <div class="row m-0">
              <div class="col-12 footer-col">
                {{ totalData.apoTotal }}
              </div>
            </div>
            <div class="row m-0">
              <div class="col-12 footer-col">
                {{ totalData.actuals }}
              </div>
            </div>
            <div class="row m-0">
              <div class="col-12 footer-col">
                {{ totalData.lastYearTotal }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="events-col pt-1 pb-3 pl-2 pr-2">
    <div class="events-container shadow mt-1 mb-1 p-2 bg-white" data-simplebar>
      <div class="mt-2">
        <h4>Features</h4>
        <div class="m-1 p-1 d-flex">
          <div>
            <input class="mr-1" type="checkbox">
          </div>
          <p class="m-0">Promo Effect</p>
        </div>
        <div class="m-1 p-1 d-flex">
          <div>
            <input class="mr-1" type="checkbox">
          </div>
          <p class="m-0">Weather Effect</p>
        </div>
     
      </div>
  
      <div class="mt-2" *ngIf="selectedWeekComments.length">
        <h4>Comments</h4>
        <div class="block m-1 p-1 d-flex" *ngFor="let selectedWeekComment of selectedWeekComments">
          <p class="m-0">{{ selectedWeekComment }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Select Options Modal-->
<a href="javascript:void(0);" [hidden]="true" data-target="#selectOptionsModal" data-toggle="modal"
   #selectOptionsModalBtn>Open Options Modal</a>
<div class="modal select-options-modal" id="selectOptionsModal" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                [class.invisible]="!graphData.length" #selectOptionsModalCancel>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-create-plan [events]="eventsSubject.asObservable()"
                         (submit)="createPlan($event)"></app-create-plan>
      </div>
    </div>
  </div>
</div>

<!--Save a Plan Modal-->
<a href="javascript:void(0);" [hidden]="true" data-target="#saveAPlansModal" data-toggle="modal" #saveAPlansModalBtn>Save
  a Plan Modal</a>
<div class="modal fade save-plan-modal" id="saveAPlansModal" tabindex="-1" role="dialog" data-backdrop="static"
     aria-labelledby="saveAPlansModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Save the Plan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #PlanNameModalBtn><span
          aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <input type="text" class="form-control" id="planName" name="planName" placeholder="Are you sure, you want to save the plan? " #planName ngModel >
          <p class="text-center mt-4">
            <button type="submit"  (click)="savePlan('base')" class="btn btn-secondary custom-link btn-xs" >Yes


              <ng-container *ngIf="savePlanLoader">
                <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
              </ng-container>
            </button>

            <button type="submit" style="margin-left: 15px"  (click)="savePlan('base')" class="btn btn-secondary custom-link btn-xs" >No


              <ng-container *ngIf="savePlanLoader">
                <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
              </ng-container>
            </button>


          </p>
        </form>
      </div>
    </div>
  </div>
</div>




<!-- save View modal-->


<a href="javascript:void(0);" [hidden]="true" data-target="#saveAViewsModal" data-toggle="modal" #saveAViewsModalBtn>Save
    a View Modal</a>
  <div class="modal fade save-plan-modal" id="saveAViewsModal" tabindex="-1" role="dialog" data-backdrop="static"
       aria-labelledby="saveAViewsModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Save the View</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #ViewNameModalBtn><span
            aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form>
            <input type="text" class="form-control" id="planName" name="planName" placeholder="Please enter the view Name" #planName ngModel >
            <p class="text-center mt-4">
              <button type="submit"  (click)="saveView('base')" class="btn btn-secondary custom-link btn-xs" >Ok
                <ng-container *ngIf="saveViewLoader">
                  <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                </ng-container>
              </button>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>








<!--Graph Comment Modal-->
<a href="javascript:void(0);" [hidden]="true" data-target="#commentFormModal" data-toggle="modal" #commentFormModalBtn>Open
  Graph Comment Form Modal</a>
<div class="modal fade comment-modal" id="commentFormModal" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #commentFormModalCancel>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #commentForm="ngForm">
          <div class="form-group">
            <label class="d-none" for="comment">
              Comment
            </label>
            <input type="text" class="form-control" id="comment" name="comment" placeholder="eg. Comment" ngModel
                   required>
          </div>
          <button type="submit" class="btn float-right btn-secondary" [disabled]="!commentForm.valid"
                  [ngClass]="{'disabled': !commentForm.valid}"
                  (click)="onCommentFormSubmit(commentForm,commentForm.value)">Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Final Forecast Comment Modal-->
<a href="javascript:void(0);" [hidden]="true" data-target="#finalForecastCommentModal" data-toggle="modal"
   #finalForecastCommentModalBtn>Open Graph Comment Form Modal</a>
<div class="modal fade final-comment-modal" id="finalForecastCommentModal" tabindex="-1" role="dialog"
     data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #finalForecastCommentModalCancel
                (click)="selectedWeekIndex=null;finalForecastCommentForm.resetForm()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #finalForecastCommentForm="ngForm">
          <div class="form-group">
            <label class="d-none" for="finalForecastComment">
              Comment
            </label>
            <input type="text" class="form-control" id="finalForecastComment" name="comment" placeholder="eg. Comment"
                   ngModel required>
          </div>
          <button type="submit" class="btn float-right btn-dark" [disabled]="!finalForecastCommentForm.valid"
                  [ngClass]="{'disabled': !finalForecastCommentForm.valid}"
                  (click)="onFinalForecastCommentSubmit(finalForecastCommentForm.value)">Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Save Filter Modal-->
<a href="javascript:void(0);" [hidden]="true" data-target="#saveFilterModal" data-toggle="modal" #saveFilterModal>Open
  Save Filter Modal</a>
<div class="modal fade save-filter-modal" id="saveFilterModal" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Save Filter</h5>
        <button type="button" class="close invisible" data-dismiss="modal" aria-label="Close" #saveFilterModalCancel>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #saveFilterModalForm="ngForm">
          <div>
            <div class="form-group">
              <label for="filterName">
                <span>Filter Name</span>
              </label>
              <input type="text" class="form-control" id="filterName" name="filterName" #filterName ngModel
                     placeholder="eg. Green Bottles" required>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Cancel
            </button>
            <button type="submit" class="btn btn-dark" [disabled]="!filterName.value"
                    [ngClass]="{'disabled': !filterName.value}"
                    (click)="saveFilter(filterName.value)">Save Changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Load Filter Modal-->
<a href="javascript:void(0);" [hidden]="true" data-target="#loadFilterModal" data-toggle="modal" #loadFilterModal>Open
  Load Filter Modal</a>
<div class="modal fade load-filter-modal" id="loadFilterModal" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Organize your Filters</h5>
        <button type="button" class="close invisible" data-dismiss="modal" aria-label="Close" #loadFilterModalCancel>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #saveFilterModalForm="ngForm">

          <ng-container *ngFor="let filter of loadedFilters;let i=index">
            <div class="filter-item shadow-sm cursor-pointer" [class.selected]="filter.isSelected"
                 (click)="filterItemClick(i)">
              {{ i + 1 }}<span> {{ filter.name }}</span>
            </div>
          </ng-container>

          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-dark" (click)="loadSelectedFilter()">Load Selected</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
