<div class="panel panel-default">
  <div class="center-block fix-width scroll-inner">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Week 21</th>
        <th>Week 21</th>
        <th>Week 21</th>
        <th>Week 21</th>
        <th>Week 21</th>
        <th>Week 21</th>
        <th>Week 21</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>5646</td>
        <td>5646</td>
        <td>5646</td>
        <td>5646</td>
        <td>5646</td>
        <td>5646</td>
        <td>5646</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
