.first-container {
  min-height: 100vh;
  width: 60%!important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  background-color: #264A35;
  min-height: 135vh;
  width:40%!important;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
