<div class="d-flex">
  <div class="first-container">
    <div class="w-75 d-flex justify-content-center flex-column align-items-center">
      <marquee width="50%" class="mb-5"><span style="color:red;" class="blinking" class="align-self-start">New Sub Brand Filters Added!!</span></marquee>
      <h3 class="font-weight-bold mb-5">Welcome to the Aurora</h3>
      <div class="w-50 mb-4">
        <p>Choose the desired time horizon, SKU’s and filters to create your demand forecasts. Make your plans, create
          scenarios. Save them, revise them, edit them.</p>
      </div>
      <div class="rounded">
        <iframe width="420" height="280" src="https://www.youtube.com/embed/yMCtEbwuwRw?controls=0" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="login-container">
    <div class="w-50">
      <h3 class="font-weight-bold mb-3">Log In to begin</h3>
      <div>
        <form #loginForm="ngForm">
          <div class="form-group">
            <label for="username" class="d-none">
              Username
            </label>
            <input type="text" name="username" class="form-control" id="username" placeholder="Enter your username"
                   ngModel #username required>
          </div>
          <div class="form-group">
            <label for="password" class="d-none">
              Username
            </label>
            <input type="text" name="password" class="form-control" id="password" placeholder="Enter your password"
                   ngModel #username required>
          </div>
          <div>
            <button type="button" [disabled]="!loginForm.valid" class="btn btn-light" [class.disabled]="!loginForm.valid" (click)="login(loginForm.value)">Login</button>
            <a href="javascript:void(0);" class="text-white ml-2">Forgot password?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
