
<div style="margin-left: 40px;margin-top:50px"><div class="row">
  <div class="column" style="background-color:#ccc;width:100%;">
    <h2>User management</h2>
    <p>Coming soon</p>
  </div>
  <br>
  <div class="column" style="background-color:#ccc;width:100%;margin-top: 20px">
    <h2>How to run this application?</h2>
    <p>Coming soon</p>
  </div>
</div>
<br>
<div class="row" style="cursor: pointer">
  <div class="column" style="background-color:#aaa;width:100%;" (click)="download()">
    <h2>Download</h2>
    <p>Click here</p>
  </div>
  <br>
  <div class="column" style="background-color:#ccc;width:100%;margin-top: 20px;">
    <h2>Support</h2>
    <p>Coming soon</p>
  </div>


  <div class="column" style="background-color:#ccc;width:100%;margin-top: 20px;" (click)="logs1()">
    <h2>Logs</h2>
    <p>Click here</p>
  </div>
</div>



</div>



<div *ngIf="up_table">
  <br>
    <table style="font-family: arial, sans-serif;border-collapse: collapse;width: 97%;margin-left: 25px;margin-right: 1px;overflow: auto;">
        <tr style="background-color: #ddd;">
          <th style="border: 1px solid #dddddd;text-align: left;padding: 8px;width: 50%;">Activity</th>
          <th style="border: 1px solid #dddddd;text-align: left;padding: 8px;width: 50%;">Date-Time Stamp</th>
        
        </tr>
    </table>
  <table style="font-family: arial, sans-serif;border-collapse: collapse;width: 97%;margin-left: 25px;margin-right: 1px;overflow: auto;"  *ngFor="let fi of allLogs; let i=index">
    <tr style="background-color: #fff;">
      <th style="border: 1px solid #dddddd;text-align: left;padding: 8px;width: 50%;">{{ fi.activity }}</th>
      <th style="border: 1px solid #dddddd;text-align: left;padding: 8px;width: 50%;">{{fi.datetimestamp}}</th>
    
    </tr>

  </table>
</div>