
<div style="margin-left: 40px;margin-top:50px"><div class="row">
  <div class="column" style="background-color:#ccc;width:100%;">
    <h2>User management</h2>
    <p>Coming soon</p>
  </div>
  <br>
  <div class="column" style="background-color:#ccc;width:100%;margin-top: 20px">
    <h2>How to run this application?</h2>
    <p>Coming soon</p>
  </div>
</div>
<br>
<div class="row" (click)="download()" style="cursor: pointer">
  <div class="column" style="background-color:#aaa;width:100%;">
    <h2>Download</h2>
    <p>Click here</p>
  </div>
  <br>
  <div class="column" style="background-color:#ccc;width:100%;margin-top: 20px;">
    <h2>Support</h2>
    <p>Coming soon</p>
  </div>
</div>
</div>

