
* {
  box-sizing: border-box;
}

@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-balham.css";


/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}
*{
  font-family: 'Montserrat', sans-serif !important;
}


.first-container {

  width: 60%!important;
  display: flex;
  align-items: left;
  justify-content: left;
}

.login-container {
 /* background-color: #264A35;*/
 
  width:40%!important;
  color: #ffffff;
  display: flex;
  align-items: left;
  justify-content: left;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}


.sidebar {
  margin-left: 100px;
  /*height: 100%;  /*Full-height: remove this if you want "auto" height */
  /*width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 8; /* Stay on top */
  margin-top: 70px;
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(156, 18, 18); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
.sidebar ul {
  float: none;
  display: block;
}
.sidebar li {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #444343;
  display: block;
}

.sidebar li:hover {
  color: #000000;
  cursor: pointer;
}

#wrapper {
  overflow-x: hidden;
}


#sidebar {
  min-width: 250px;
  max-width: 250px;
  border-radius: 5px;
  background: #fff;
  color: black;
  margin-top: 0px;
  margin-left: 25px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative; 
  float: left;}
  #sidebar .h6 {
    color: black; }
  #sidebar.active {
    margin-left: -250px; }
    #sidebar.active .custom-menu {
      margin-right: -50px; }
  #sidebar h1 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px; }
    #sidebar h1 .logo {
      color: #fff;
      display: block;
      padding: 10px 30px;
      background: #2f89fc; }
  #sidebar ul.components {
    padding: 0; }
  #sidebar ul li {
    font-size: 16px;
    font-weight: bold;
    padding: 15px 30px;
    display: block;
    color: rgba(54, 53, 53, 0.678);
    border-bottom: 1px solid rgba(77, 76, 76, 0.1); }
    #sidebar ul li:hover {
      color: black;
      cursor: pointer;
      /*background: #2f89fc;*/
    } 
    #sidebar ul li > ul {
      margin-left: 10px; }
      #sidebar ul li > ul li {
        font-size: 14px; }
    #sidebar ul li a {
      padding: 15px 30px;
      display: block;
      color: rgba(255, 255, 255, 0.6);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
      #sidebar ul li a:hover {
        color: #fff;
        background: #2f89fc;
        border-bottom: 1px solid #2f89fc; }
    #sidebar ul li.active > a {
      background: transparent;
      color: #fff; }
      #sidebar ul li.active > a:hover {
        background: #2f89fc;
        border-bottom: 1px solid #2f89fc; }
  @media (max-width: 991.98px) {
    #sidebar {
      margin-left: -250px; }
      #sidebar.active {
        margin-left: 0; }
      #sidebar .custom-menu {
        margin-right: -60px !important;
        top: 10px !important; } }
  #sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 0;
    margin-right: -50px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    @media (prefers-reduced-motion: reduce) {
      #sidebar .custom-menu {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
    #sidebar .custom-menu .btn.btn-primary {
      background: transparent;
      border-color: transparent; }
      #sidebar .custom-menu .btn.btn-primary i {
        color: black;
        font-size: 24px; }
      #sidebar .custom-menu .btn.btn-primary:hover, #sidebar .custom-menu .btn.btn-primary:focus {
        background: transparent !important;
        border-color: transparent !important; }

.colppp {
  position: relative;
  margin-top: 2rem;
  margin-left: 1rem;
  min-width: 1250px;
  overflow: hidden;
}

.infotable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  border : 3px solid rgb(175, 175, 175);
}

.infotable td, .infotable th {
  padding: .50rem;
  font-size: 14px;
  padding: 8px;
}

.htd {
  width: 70%;
}

.datatd {
  width: 30%;
}

.infotable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.infotable tr:nth-child(even){background-color: #ffffff; border-bottom : 3px solid rgb(175, 175, 175);}

.infotable tr:nth-child(odd){background-color: #ffffff; border-bottom : 3px solid rgb(175, 175, 175);}

.infotable tr:hover {background-color: rgba(33, 150, 243, 0.2);}