<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-topleft w3-padding-large w3-xlarge">
          .
        </div>



<div class="row">
  <div class="card">
    <img src="img_avatar2.png" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>Jane Doe</b></h4> 
      <p>Interior Designer</p> 
    </div>
  </div>
  <div class="card">
    <img src="img_avatar2.png" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>Jane Doe</b></h4> 
      <p>Interior Designer</p> 
    </div>
  </div>
  </div>
  
  <div class="row">
  <div class="card">
    <img src="img_avatar2.png" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>Jane Doe</b></h4> 
      <p>Interior Designer</p> 
    </div>
  </div>
  <div class="card">
    <img src="img_avatar2.png" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>Jane Doe</b></h4> 
      <p>Interior Designer</p> 
    </div>
  </div>
  </div>
  
      
      </div>
      