<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-topleft w3-padding-large w3-xlarge">
          .
        </div>


        <iframe width="800" height="600" src="https://app.powerbi.com/reportEmbed?reportId=8110c798-06de-4e1d-a1f2-7a0bddde66d0&autoAuth=true&ctid=882d47f6-50f4-4554-9aa6-43a46416b0f0&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1jLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
        <div class="w3-display-middle">
          <h1 class="w3-jumbo w3-animate-top" style="margin-left: 45%;margin-top: 20%;font-size: 50px;">COMING SOON</h1>
          <hr class="w3-border-grey" style="margin:auto;width:40%">
            <p style="margin-left: 15%;">This module is under construction and will be updated very soon. Aurora application will notify you when this is module is live. Thanks for your patience and checking up</p>
        </div>
      
      </div>
      