<div id="sidebar" class="d-flex justify-content-between flex-column">
  <div class="mt-2">
    <div id="logo" class="d-flex justify-content-center">
      <a href="javascript:void(0);" routerLink="/"><img src="assets/images/logo.png"></a>
    </div>
    <div class="item d-flex flex-column align-items-center mt-3" id="plan">
      <a class="text-center" href="javascript:void(0);" (click)="onClick('plan-demand')">
        <i class="fa pb-1 fa-list-ul"></i>
        <p class="m-0">Plan Demand</p>
      </a>
    </div>
    <div class="item d-flex flex-column align-items-center mt-2">
      <a class="text-center" href="javascript:void(0);" (click)="onClick('create-plan')">
        <i class="fa pb-1 fa-list-ul"></i>
        <p class="m-0">S&OP </p>
        <p class="m-0">Analytics</p>
      </a>
    </div>
    <div class="item d-flex flex-column align-items-center mt-2">
      <a class="text-center" href="javascript:void(0);" (click)="onClick('revisit-plan')">
        <i class="fa pb-1 fa-repeat"></i>
        <p class="m-0">Plan </p>
        <p class="m-0">Scenario</p>
      </a>
    </div>
    <!-- <div class="item d-flex flex-column align-items-center mt-2">
      <a class="text-center" href="javascript:void(0);" (click)="onClick('revisit-view')">
        <i class="fa pb-1 fa-repeat"></i>
        <p class="m-0">Revisit View</p>
      </a>
    </div> -->
    <div class="item d-flex flex-column align-items-center mt-2 justify-content-center" id="portfolio">
      <a href="javascript:void(0);" routerLink="/portfolio" class="text-center">
        <i class="fa pb-1 fa-list-ul"></i>
        <p class="m-0 text-center">Portfolio Management</p>
      </a>
    </div>


    <div class="item d-flex flex-column align-items-center mt-2 justify-content-center">
      <a href="javascript:void(0);" routerLink="/portfolio" class="text-center">
        <i class="fa pb-1 fa-list-ul"></i>
        <p class="m-0 text-center">NPD</p>
      </a>
    </div>


  </div>
  <div class="mb-2">
    <div class="item d-flex flex-column align-items-center mt-2">
      <i class="fa pb-1 fa-cog"></i>
      <p class="m-0">Settings</p>
    </div>
  </div>
</div>
