a {
  color: white;
}

p{
  font-family: 'Montserrat', sans-serif;
}

a:focus, a:hover {
  text-decoration: none;
  color: white;
}

#sidebar {
  position: fixed;
  width: 80px; /*80px*/
  height: 100%; /*135vh*/
  background-color: #212933;
  color: white;
  z-index: 1;
}

#sidebar p {
  font-size: 10px;
  font-weight: 700;
}

.aa {
  height: 70%;
}

.bb {
  height: 30%;
}

#sidebar .item {
  width: auto;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

#sidebar .item:hover {
  background-color: #516074 !important;
}
