<div id="sidebar">
  <div class="aa mt-2 d-flex flex-column">
    <div id="logo" class="d-flex justify-content-center">
      <a href="javascript:void(0);" style="height: 40px;" routerLink="/"><img style="height: 40px !important;" src="assets/images/logo.png"></a>
    </div>
    <div class="item d-flex flex-column align-items-center mt-3" id="plan" style="background: #212933 !important; margin: 10px !important;">
      <a class="text-center" href="javascript:void(0);" (click)="goToPage('c')">
        <i class="fa pb-1 fa-line-chart"></i>
        <p class="m-0">Plan Demand</p>
      </a>
    </div>
    <div class="item d-flex flex-column align-items-center mt-2" id="snop" style="background: #212933;margin: 10px !important;">
      <a class="text-center" href="javascript:void(0);" (click)="goToPage('a')">
        <i class="fa pb-1 fa-bar-chart"></i>
        <p class="m-0">S&OP </p>
        <p class="m-0">Analytics</p>
      </a>
    </div>
    <div class="item d-flex flex-column align-items-center mt-2" id="planscene" style="background: #212933;margin: 10px !important;">
      <a class="text-center" href="javascript:void(0);" (click)="goToPage('bcd')">
        <i class="fa pb-1 fa-pencil-square-o"></i>
        <p class="m-0">Plan a</p>
        <p class="m-0">Scenario</p>
      </a>
    </div>
    <!-- <div class="item d-flex flex-column align-items-center mt-2">
      <a class="text-center" href="javascript:void(0);" (click)="onClick('revisit-view')">
        <i class="fa pb-1 fa-repeat"></i>
        <p class="m-0">Revisit View</p>
      </a>
    </div> -->
    <div class="item d-flex flex-column align-items-center mt-2 justify-content-center" id="portfolio" style="background: #212933;margin: 10px !important;">
      <a href="javascript:void(0);" (click)="goToPage('ab')" class="text-center">
        <i class="fa pb-1 fa-file-text-o"></i>
        <p class="m-0 text-center">Portfolio Management</p>
      </a>
    </div>


    <div class="item d-flex flex-column align-items-center mt-2 justify-content-center" id="npd" style="background: #212933 !important;margin: 10px !important;">
      <a href="javascript:void(0);" (click)="goToPage('b')" class="text-center">
        <i class="fa pb-1 fa-list-ul"></i>
        <p class="m-0 text-center">NPD</p>
      </a>
    </div>

  </div>

  <div class="bb mt-2 d-flex flex-column justify-content-end">

    <div class="mb-2 mt-auto item d-flex flex-column align-items-center" id="setting" (click)="goToPage('e')" style="background: #212933;margin: 10px !important;"> 
      <i class="fa pb-1 fa-cog"></i>
      <p class="m-0 text-center">Settings</p>
    </div>


    <div class="item d-flex flex-column align-items-center mt-2 justify-content-end" id="npd1" style="background: #212933;margin: 10px !important;">
      <a href="javascript:void(0);" (click)="goToPage('f')" class="text-center">
        <i class="fa pb-1 fa-sign-out"></i>
        <p class="m-0 text-center">Logout</p>
      </a>
    </div>
    <br>
  </div>
  
</div>


