/* You can add global styles to this file, and also import other style files */

.canvasjs-chart-credit {
  display: none;
}

.canvasjs-chart-toolbar > button{
  background-color: transparent;
}

body {
  background-color: #E4E5E9;
}

.cursor-pointer {
  cursor: pointer;
}
